:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);

    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    background-color: var(--Eggshell);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    padding: 100px;
    color: var(--WengeBrown);
}

h1,
h2,
h3 {
    font-family: "Young Serif", serif;
    color: var(--Nutmeg);
    font-weight: 400;
}

img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 2rem;
}

h1 {
    color: black;
    margin-bottom: 1rem;
    font-weight: 400;
}

h2 {
    font-weight: 400;
}

.wrapper {
    background-color: var(--White);
    max-width: 800px;
    min-height: 100vh;
    padding: 35px;
    border-radius: 25px;
}

.Introduction-section p {
    margin-bottom: 2rem;
}

.Preparation-section {
    width: 100%;
    background-color: var(--RoseWhite);
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.Preparation-section h3 {
    font-family: 'Outfit', sans-serif;
    color: var(--DarkRaspberry);
    font-weight: 700;
}
.Preparation-section ul {
    margin-top: 1rem;
    margin-left: 1.5rem;
    line-height: 180%;
}

.Ingredients-section {
    border-bottom: 1px solid var(--LightGrey);
}
.Ingredients-section h2 {
    margin-bottom: 1rem;
}
.Ingredients-section ul{
    margin-left: 1rem;
    margin-bottom: 2rem;
    line-height: 180%;
}

.Instructions-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--LightGrey)
}
.Instructions-section h2{
    margin-bottom: 1rem;
}
.Instructions-section .num {
    font-weight: 700;
    margin-right: 1rem;
    color: var(--Nutmeg);
}
.Instructions-section .item {
    display: flex;
    margin-bottom: 0.5rem;
}

.Nutrition-section {
    margin-top: 2rem;
}

.Nutrition-section h2 {
    margin-bottom: 1rem;
}

.Nutrition-section .table {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Nutrition-section .row {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid var(--LightGrey);
}

.Nutrition-section .row:last-child {
    border-bottom: 0;
}

.Nutrition-section .nu {
    width: 50%;
    padding-left: 2rem;
}

.Nutrition-section .nums {
    color: var(--Nutmeg);
    font-weight: 700;
}

.attribution {
    margin-top: 20px;
}